$color-background: #fafcff;
$color-main: #258fb8;
$color-gray01: #333; // font color
$color-gray02: #666; // detail font color
$color-gray03: #ccc; // border color
$color-gray04: #eee; // code background
// $color-gray05: #fff;hsl